p {
  color: white;
}
p:hover {
  color: gold;
}
p:active {
  color: gold;
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
}
nav p {
  font-size: 1.2rem;
  margin-right: 1rem;
}
nav a {
  text-decoration: none;
  color: white;
}

nav p {
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 1030px) {
  nav {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 80vw;
    background-color: rgba(0, 0, 0, 0.729);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }

  nav.show {
    right: 0;
  }

  nav a p {
    font-size: 1.2rem;
  }

  /*^ Close button */
  .close-btn {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}

.nav-toggle {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

@media (max-width: 1030px) {
  .nav-toggle {
    display: block;
  }
}

@media (min-width: 1030px) {
  .close-btn {
    display: none;
  }
}

@media (max-width: 1030px) {
  .close-btn {
    display: block;
  }
}

.active-tab p {
  color: gold;
  font-weight: bold;
  border-bottom: 2px solid gold;
}
